<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Index</title>
</head>
    <body>
        <a href="/P5/staffsite/order/"> Bestellungen</a>
        <a href="/P5/dishtest/">Gerichte bestellen</a>
        <a href="/P5/staffsite/statistics/"> Statistics</a>
    </body>
</html>