{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail input</title>
    <link rel="stylesheet" href="{% static 'css/mail_input.css' %}">
</head>
<body>
<p style="text-align: center; margin-top: 100px; font-size: 20px; font-weight: bold;" for="name">Geben sie ihre E-Mail ein um ihre Quittung per Mail zu bekommen. </p>
<form action="" method="post">
    {% csrf_token %}
<div class="container">
	<div class="container__item">
		<form action="" method="post" class="form">
			<input style="margin-top: 50px; text-align: center; margin-left: 40px;" type="email" class="form__field" placeholder="Your E-Mail Address" name="email" />
			<button type="submit" class="btn btn--primary btn--inside uppercase" name="finish">Send</button>
		</form>
	</div>
</div>
        <p class="Save">Save the Trees</p>
</form>



</body>
</html>
