
<style>
    .search-bar{
        padding: 10px;
        background: orange;
        color: #f1f1f1;
        position: fixed;
        top: 0px;
        width: 100%;
    }

    .menu {
        padding: 15px;
        background: antiquewhite;
    }
    .category{
        background: orange;
        color: antiquewhite;
    }
</style>
<div class="search-bar">
    {% for category in list_category%}
     <a href="#{{ category}}"style="color: #f1f1f1">{{ category}}</a>
    {% endfor %}
    <a href="/P5/cart/{{table_id}}/">Warenkorb</a>

</div>
<div class="menu">
    {%for category in list_category %}
        <h1 class="category" id="{{ category }}">{{ category }}</h1>
        {% for typ in list_typ %}
            {% if typ.dish_category == category %}
                <div class="typ">
                <h2>{{ typ }}</h2>
                {% for dish in dish_list %}
                    {% if dish.typ == typ %}
                       <div class="dish">
                                    {%  if dish.image %}
                                    <img src="{{ dish.image.url }}" alt="dish_img" width="350" height="200">
                                    {% endif %}

                                <p>{{ dish.description }}</p>
                                <p>{{ dish.price }}</p>
                                    <form  action="" method="post">
                                {% csrf_token %}
                                        <input type="text"  name="info" placeholder="Extra Wünsche">
                                        <button type="submit" name="dish_name" value={{ dish.ID }}>Hinzufügen</button>
                                </form>
                       </div>
                    {% endif %}
                {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>