<style>
    .search-bar{
        padding: 12px;
        background: orange;
        color: #f1f1f1;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;}
    a:hover {
        cursor: pointer;
    }
    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin-left: 5px;
    }
    a:visited {
      background-color: black;
    }
    .menu {
        padding: 15px;
        background: antiquewhite;
    }
    .category{
        background: orange;
        color: antiquewhite;
        margin-top: 35px;
        width: 100%;
    }
    h1,h2,h3,p,a{
        font-family: Lato, sans-serif;
    }
    button {
        background: orange;
        color: white;
        left: 20.2%;
        position: absolute;
        text-align: center;
        transition: background 250ms ease-in-out,
        transform 150ms ease;
        -webkit-appearance: none;
        -moz-appearance: none;
    }


    button:hover,
    button:focus {
        background: #0053ba;
        }

    button:focus {
        outline: 1px solid #fff;
        outline-offset: -4px;
    }

    button:active {
        transform: scale(0.99);
    }
    image{
        max-width: 100%;
        height: auto;
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<div class="search-bar">
    {% for category in list_category%}
     <a href="#{{ category}}"style="color: #f1f1f1; text-decoration: none">{{ category}}</a>
    {% endfor %}
    <a href="/P5/cart/{{table_id}}/" style="float: right; text-decoration: none"><img style="background-color: orange" src="../../../../static/images/shopping_cart.png" alt="cart" width="30" height="30"></a>

</div>
<div class="menu">
    {%for category in list_category %}
        <h1 class="category" id="{{ category }}">{{ category }}</h1>
        {% for typ in list_typ %}
            {% if typ.dish_category == category%}
                <div class="typ">
                    <h2 style="text-align: center">{{ typ }}</h2>
                    {% for dish in dish_list  %}
                        {% if dish.typ == typ %}
                            <div class="dish">
                                <h3>{{ dish.name }}</h3>
                                {% if dish.image %}
                                    <div style="float: left">
                                        <p><img style="margin-right: 10px; float: left;" src="{{ dish.image.url }}" alt="dish_img" width="350" height="200">{{ dish.description }}</p >
                                    </div>
                                {% endif %}
                                    <form  action="" method="post">
                                    {% csrf_token %}
                                        <label>
                                            <input style="margin-top: 30px; width: 350px;" type="text"  name="info" placeholder="Extra Wünsche">
                                        </label>
                                        <div style="border: 2px;"><p style="margin-top: 10px;">{{ dish.price }}<button style="float: start" type="submit" name="dish_name" value="{{ dish.ID }}">Hinzufügen</button></p></div>
                                </form>

                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>